body {
  margin: 0;
  font-family: Arial;
  background: #06150f;
  color: #eafff4;
}

header {
  text-align: center;
  padding: 20px;
  background: #0f2e21;
  border-bottom: 1px solid #d4af37;
}

header h1 {
  color: #d4af37;
}

nav {
  display: flex;
  justify-content: center;
  gap: 10px;
  padding: 10px;
}

button {
  background: #d4af37;
  border: none;
  padding: 8px 12px;
  border-radius: 20px;
  cursor: pointer;
}

input {
  display: block;
  margin: 10px auto;
  padding: 10px;
  width: 80%;
  max-width: 400px;
  border-radius: 10px;
  border: 1px solid #d4af37;
  background: #0f2e21;
  color: white;
}

.card {
  background: #0f2e21;
  margin: 10px auto;
  padding: 15px;
  border-radius: 12px;
  max-width: 500px;
  border: 1px solid rgba(212,175,55,0.2);
}
